@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  /* Zinc 950 */
  color: #a1a1aa;
  /* Zinc 400 */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* Zinc 800 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* Zinc 700 */
}

/* Professional Utilities */
.panel-base {
  background-color: #09090b;
}

/* Input Reset */
textarea,
input {
  caret-color: white;
}